<h1>Welcome to JellySoup!</h1>

<p>Where Children's Book Authors get feedback from their peers</p>
<h2>As easy as:</h2>
<ul>
  <li>Sign Up and Add your story</li>
  <li>Review someone else's story</li>
  <li>Receive feedback on yours</li>
</ul>
