<h1><%= pluralize(@stories.count,'Story')%></h1>

<ul>
  <% @stories.each do |story|%>
  <article>
    <header>
      <h2><%= link_to(story.title, story) %></h2>
    </header>
    <p>
      <%= truncate(story.manuscript, length: 100, separator: ' ') %>
    </p>
    <table>
      <tr>
        <th>Author:</th>
        <td><%= story.user.name %></td>
      </tr>
    </table>
  </article>
  <% end %>
</ul>
